@media screen and (min-width: 1310px) {
    .containerIntro {
        height: '100vh';
        min-height: '100vh';
        display: flex;
        align-content: center;

    }

    .containerBox {
        display: flex;

        justify-content: center;
        flex-direction: column;
        color: azure;
    }

    .flex-container {
        display: flex;


    }

    .flex-container__text {
        color: black;
        font-weight: 400;
        font-family: 'Franklin Gothic', 'Arial Narrow', Arial, sans-serif;
        /* font-style: normal; */
        /* font-size: 2.5em; */

    }

    .textHead {
        font-family: 'Franklin Gothic', 'Arial Narrow', Arial, sans-serif;
        font-style: normal;
        font-size: 2.5em;
    }

    .flex-container__text-body {
        margin-top: 24px;
        font-weight: lighter;
    }


    .intro-abstract {
        background-image: url("../../assets/images/abstract-intro.png");
        min-height: auto;
        min-width: auto;
        height: 76vh;
        width: 100vw;
        max-width: 700px;
        max-height: 92vh;
    }

    .icon-strip {
        display: flex;
        justify-content: space-between;
        margin-top: 30px;
    }

    .hover {
        --c: linear-gradient(#000 0 0);
        /* update the color here */

        padding-bottom: .15em;
        background: var(--c), var(--c);
        background-size: .3em .1em;
        background-position: 50% 100%;
        background-repeat: no-repeat;
        transition: .3s linear, background-size .3s .2s linear;
    }

    .hover:hover {
        background-size: 40% .1em;
        background-position: 10% 100%, 90% 100%;
    }
}

@media screen and (max-widht: 1310px) {
    .containerBox {
        display: grid;

        justify-content: center;
        flex-direction: column;
        color: azure;
    }

    .flex-container__text {
        color: black;
    }
}